{% extends 'layout/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>   FREELANCER </h1>

<br>
Profesional con una amplia experiencia en distintas áreas, incluyendo
Análisis y Desarrollo De Software, Diseño De Sistemas Mecánicos, Educación Básica Con Énfasis En Ciencias Naturales Y Educación Ambiental,
Marketing Digital. Me concibo como un Autodidacta a lo largo de mi trayectoria, desempeñó roles como Consultor de Comercio Electrónico
y Vendedor Profesional lo que me ha permitido adquirir habilidades especializadas en diversas áreas.

Soy capaz de organizar mi tiempo y mis tareas de manera eficiente, y realizar un seguimiento meticuloso de las oportunidades de venta.
Mi objetivo es asegurarme de que ninguna oportunidad se pierda y maximice los resultados.

Por último, quiero agradecerles a todos por su apoyo y por seguirme en mi canal de YouTube. Si aún no lo han hecho, los invito a unirse
a nuestra comunidad y disfrutar juntos de contenido inspirador y lleno de energía. ¡Muchas gracias y que la vida nos siga bendiciendo
con momentos llenos de magia y encanto! 🌟🕺🌺



{% endblock %}
