/* Estilos generales */
* {
    margin: 0px; /* Elimina el margen exterior */
    padding: 0px; /* Elimina el relleno */
    font-family: Arial, Helvatica, sans-serif; /* Define la fuente de texto predeterminada */
    text-decoration: none; /* Elimina la decoración de texto predeterminada */
}

p,h2,h3,ul{
    margin-top: 5px; /* Espacio entre el texto y el borde superior */
    margin-bottom: 5px; /* Espacio entre el texto y el borde inferior */
}
ul,ol{
    margin-left: 30px; /* Espacio entre el texto y la lista */
    margin-button:20px; /* Espacio entre la lista y el borde inferior */
}

.clearflix{
    crear:both;
    float:none; /* Elimina el posicionamiento flotante */
}

/* Estilos del cuerpo */
body {
    background-color: #f2f2f2; /* Establece el color de fondo */
}

/* Estilos de la cabecera */
header {
    width: 1212px; /* Ancho de la cabecera */
    height: 140px; /* Altura de la cabecera */
    background-color: #23282b; /* Color de fondo de la cabecera */
    margin: 0px auto; /* Centra horizontalmente la cabecera */
}

/* Estilos del logotipo */
#logotipo {
    width: 40%; /* Ancho del logotipo */
    height: 130px; /* Altura del logotipo */
    margin: 0px auto; /* Centra horizontalmente el logotipo */
    padding-top: 10px; /* Espaciado superior del logotipo */
}

/* Estilos del logotipo (imagen) */
#logotipo img {
    display: block; /* Hace que la imagen sea un elemento de bloque */
    width: 60px; /* Ancho de la imagen */
    float: left; /* Flota la imagen a la izquierda */
    margin-top: 20px; /* Espaciado superior de la imagen */
}

/* Estilos del logotipo (texto) */
#logotipo h1 {
    display: block; /* Hace que el texto sea un elemento de bloque */
    float: left; /* Flota el texto a la izquierda */
    margin-top: 35px; /* Espaciado superior del texto */
    margin-left: 20px; /* Espaciado izquierdo del texto */
    letter-spacing: 2px; /* Espaciado entre caracteres */
    font-weight: lighter; /* Grosor de fuente */
    color: #2ba977; /* Color del texto */
}

/* Estilos de la barra de navegación */
nav {
    width: 1250px; /* Ancho de la barra de navegación */
    height: 50px; /* Altura de la barra de navegación */
    background-color: #1b1e1f; /* Color de fondo de la barra de navegación */
    border: 1px solid #333333; /* Borde de la barra de navegación */
    margin: 0 auto; /* Centra horizontalmente la barra de navegación */
    box-shadow: 0px 22px 22px gray; /* Sombra */
    font-size: 15px; /* Tamaño de fuente */
    margin-bottom: 45px; /* Espaciado inferior */
}

/* Estilos de la lista no ordenada dentro de la barra de navegación */
nav ul {
    list-style: none; /* Elimina los marcadores de lista */
    text-decoration: 40px; /* Establece la decoración de texto */
}

/* Estilos de los elementos de lista dentro de la barra de navegación */
nav ul li {
    line-height: 40px; /* Altura de línea */
    float: left; /* Flota los elementos de la lista a la izquierda */
}

/* Estilos de los enlaces dentro de la barra de navegación */
nav ul li a {
    display: block; /* Hace que los enlaces sean elementos de bloque */
    padding-left: 15px; /* Espaciado izquierdo */
    padding-right: 15px; /* Espaciado derecho */
    color: #d1d4d6; /* Color del texto */
}

/* Estilos de los enlaces cuando se pasa el cursor sobre ellos */
nav ul li a:hover {
    background: #2ba977; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 0px 5px #444444 inset; /* Sombra interna */
    color: white; /* Color del texto */
    transition: all 300ms; /* Transición de animación */
}

/* Estilos para el contenido central */
#content {
    width: 1212px; /* Ancho del contenido */
    min-height: 930px; /* Altura mínima del contenido */
    margin: 0 auto; /* Centra horizontalmente el contenido */
    margin-bottom: 30px; /* Espaciado inferior */
    margin-top: 40px; /* Espaciado superior */
}






/* Estilos para la caja de contenido */
.box {
    background: white; /* Color de fondo */
    min-height: 930px; /* Altura mínima */
    width: 95%; /* Ancho */
    padding: 20px; /* Relleno */
    border: 1px solid #ddd; /* Borde */
    border-radius: 2px; /* Radio de borde */
    margin: 0 auto; /* Centra horizontalmente */
}
.box form{
    width: 100%;

}

.box form input, .box form label{
    display:black;
    padding: 5px;
    padding-left: 0px;
    
}
    
.box form input [type="text"]
.box form textarea
.box form select {
    width: 100%;

    margin-button: 10px;

}

.box form select{
    width: 70px;
    padding: 5px;
}


.box form input [type="submit"]


{
    width: 100%;
    padding: 10px;
    background: #1f7e5;
    border: 0px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}






.messague{
    padding: 10px;
    background: #1f7e5;
    color: white ; 
    text-align: center;
    margin-bottom: 10px;
}



/* Estilos para el título */
.title {
    color: #444; /* Color del texto */
    letter-spacing: 1px; /* Espaciado entre caracteres */
    font-size: 30px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espaciado inferior */
    margin-top: 5px; /* Espaciado superior */
}




article-item{
margin-bottom: 20px; /* Espaciado inferior */
margin-top: 20px; /* Espaciado superior */
padding: 15px; /* Relleno */
border-button:1px solid #eee; /* Borde */
crear:both;


}

.article-item.image{
    width: 200px;
    height: 200px;
    float: left;
}





/* Estilos para el pie de página */
footer {
    width: 100%; /* Ancho del pie de página */
    background-color: #1b1e1f; /* Color de fondo */
    border: 1px solid #333333; /* Borde */
    color: #d1d4d6; /* Color del texto */
    text-align: center; /* Alineación de texto */
    padding-top: 20px; /* Espaciado superior */
    margin: 0 auto; /* Centra horizontalmente el pie de página */
    padding-bottom: 20px; /* Espaciado inferior */
    box-shadow: 0px 0px 20px gray; /* Sombra */
}
.box {
    background: white; /* Color de fondo */
    min-height: 930px; /* Altura mínima */
    width: 95%; /* Ancho */
    padding: 20px; /* Relleno */
    border: 1px solid #ddd; /* Borde */
    border-radius: 2px; /* Radio de borde */
    margin: 0 auto; /* Espaciado inferior */
}
/* Estilos para el formulario*/
.box form {
    width: 40%; /* Ancho del formulario */
}
/* los controles que ocupan una linea */
.box form .input
.box form .label {
    display: block; /* Mostrar como bloque */
    padding: 5px; /* Relleno */
    padding-left: 0px; /* Relleno inferior */
    
}
 /* ancho de los controles  */   
.box form .input [type="text"], 
.box form textarea,
.box form select{
    width: 100%; /* Ancho del control */
    margin-bottom: 10px; /* Espaciado inferior */
    
}
 /* select  */ 
 .box form select {
     width: 70%; /* Ancho del control */
     padding: 5px; /* Relleno */
}
  /* boton   */ 
  .box form input [type="submit"],
  .box form input [type="button"],
  .box form button {
    padding: 10px 20px; /* Relleno */
    margin-top: 5px; /* Espaciado superior */
    background: #2ba977; /* Color de fondo */
    border: 1px solid #444;    
    color: white; /* Color del texto */
    transition: 300ms all; /* Transición */
    border-radius: 7px; /* Radio de borde */
}
/* Estilos para botones */
.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
    background: #1f7e58; /* Cambia el color de fondo cuando se pasa sobre el botón */
}

/* Estilos para texto en rojo */
.rojo {
    color: red; /* Establece el color del texto en rojo */
    box-shadow: 0px 0px 4px black; /* Agrega una sombra alrededor del texto */
}
